table img {
    width: 400px;
    height: 380px;
    margin: 10px 20px;
}
table {
    margin-right: auto;
    margin-left: auto;
}
h1 {
    font-family: 'Cormorant Garamond';
    font-size: 45px;
    text-align: center;
    padding: 20px;
    margin-bottom: -10px;
    color: blue;
    font-weight: bolder;
    box-shadow:10px 10px 10px 0px rgb(201, 201, 199);
}
.central-row img {
    border-radius: 250px;
    margin-bottom: 40px ;
}
#first-table img {
    border-radius: 20px;
    
}
#last-table img {
    border-radius: 50px;
}
caption {
    font-size: 25px;
    color:#4A455C ;
}