.changeColor {
    color: orangered;
    text-align: center;
}

.showForm {
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
}

.showForm:hover {
    background-color: green;
}

body {
    font-family: 'Montserrat';
    font-size: 20px;
}

h1 {
    font-family: 'Cormorant Garamond';
    font-size: 60px;
    text-align: center;
    color: blue;
}

h2 {
    color: #4A455C;
    font-weight: bolder;
}

.nex-trip-heading {
    text-align: center;
    margin-top: 40px;
}

form {
    text-align: center;
    background-color: rgb(247, 206, 200);
    padding: 50px 0px;
}

label {
    margin-right: 90px;
    padding: 15px;
}

.input, select {
    width: 250px;
    height: 25px;
    margin-left: 20px;
}

.linear {
    margin-right: 48px;
}

.phone-number {
    margin-right: 98px;
}

.guets {
    margin-right: 130px;
}

.depart {
    margin-right: 105px;
}

.date {
    margin-right: 85px;
}

.card {
    margin-right: 145px;
}

.countries {
    margin-right: 178px;
    height: 40px;
}

.insurance {
    margin-right: 160px;
}

.submitButton {
    width: 150px;
    height: 50px;
    font-size: 15px;
}

.next-trip img {
    width: 450px;
    height: 400px;
    margin: 0px;
}

.next-trip {
    width: 100%;
    text-align: center;
}

.cities {
    color: blue;
    font-family: cursive;
    font-weight: bolder;
    font-size: 2rem;
    text-shadow: 1px 2px grey;
}

/* /////////////////////////// */

.slideIn {
    margin: 2% 2%;
    width: 10%;
    height: 15%;
    font-size: 1.8rem;
}

@media(max-width:600px) {
    h1 {
        font-size: 2.5rem;
    }
    form {
        text-align: start;
        font-size: 1.2rem;
        padding: 20px 0px;
    }
    .insurance {
        margin-left: 0;
    }
    h2 {
        margin-left: 5%;
        font-size: 1.6rem;
    }
    .input, select {
        width: 80%;
    }
    textarea {
        width: 90%;
    }
    .next-trip {
        width: 100%;
        margin-left: 0px;
    }
    .next-trip img {
        width: 90%;
        height: 70%;
        margin: 0px;
    }
    .cities {
        font-size: 1.6rem;
    }
    .slideIn {
        margin: 3%;
        width: 25%;
        padding: 10px;
        font-size: 1rem;
    }
    label, .linear, .phone-number, .guets, .depart, .date, .card, .countries, .insurance {
        margin-right: 0px;
        padding: 0px;
    }
    /* * { outline: 1px red solid !important; visibility: visible !important }  */
}

@media(min-width:601px) and (max-width: 670px) {
    h1 {
        font-size: 2.8rem;
    }
    form {
        text-align: start;
        font-size: 1.2rem;
        padding: 20px 0px;
    }
    .next-trip {
        width: 100%;
        margin-left: 1%;
    }
    .next-trip img {
        width: 99%;
        height: 80%;
        margin: 0px;
    }
    .slideIn {
        margin: 3%;
        width: 25%;
        padding: 10px;
        font-size: 1rem;
    }
}

@media(min-width:671px) and (max-width: 1268px) {
    h1 {
        font-size: 3rem;
    }
    .slideIn {
        margin: 3%;
        width: 16%;
        padding: 10px;
        font-size: 1.3rem;
    }
}