html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
#wrapper {
    width: 1024px;
    height:940px ;
    margin: auto;
}

body {
    font-family:'Montserrat' ;
    font-size: 20px;
    background-color: #FFF0E7;
}

header {
    background-image: url("../images/header.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:80%;
    background-attachment: fixed;
}

nav, ul, #main-content  {
    display: flex;
}

nav {
    flex-direction: row;
    height: 105px;
    justify-content: space-between;
    background-color: #FFF0E7 ;
}

li {
    list-style-type: none;
    padding: 15px 10px 15px 10px;
    font-size: 24px;
    font-weight: bold;
}

li a {
    text-decoration: none;
    color: #4A455C;
}

li a:hover {
    background-color: blue;
    color: white;
}

.rigth-space a {
    padding-right: 20px;
}

#logo {
    width: 140px;
    height: 105px;
    margin-top: -30px;
    margin-left: auto;
}

h1, header p {
    text-align: center;
}

h1 {
    font-family: 'Cormorant Garamond';
    font-size: 7rem;
    color : rgb(223, 222, 222);
    padding-top: 100px;
    margin-right: 260px;
    margin-bottom: -20px;
}

header p {
    font-family: cursive;
    font-size: 2.8rem;
    color: gold;
    padding-left: 20px;
    font-weight: bolder;
}

.slidein {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
}

@keyframes slidein {
    from {
    margin-left: 10%;
    width: 200%; 
    }

    to {
    margin-left: 0%;
    width: 100%;
    }
}

#main-content {
    width: 900px;
    height: 600px;
}

#main-text {
    width: 600px;
}

.space {
    margin-top: 20px;
}

h2 {
    font-size: 3rem;
    color: rgb(83, 83, 85);
    font-weight: 500;
    margin: 20px 10px;
}

#aside {
    width: 300px;
    margin-left: 50px;
}

h3 {
    font-size: 2.9rem;
    color: rgb(83, 83, 85);
    padding-top: 40px;
    padding-bottom: 25px;
    padding-left: 20px;
}

footer {
    height: 195px;
    background-image: linear-gradient(rgb(250, 250, 125), white, blue);
    background-size: cover;
}

footer p {
    font-family: cursive;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    color: white;
}

.contact-icons  {
    display: flex;
    justify-content: center;
}

.contact-icons a {
    padding: 30px 15px 0 15px;
}

.slideIn {
    margin: 0 ;
}

/* Screens Friendly */
@media(max-width:600px) {
    nav {
        height: 145px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        padding-top: 15px;
    }

    li {
        font-size: 1.1rem;
        padding: 5px 10px;
        margin-top: -70px;
        margin-bottom: 65px;
    }

    #wrapper {
        width: auto;
        height:auto;
        margin: auto;
    }

    header {
        height: 50vh;
        background-attachment: scroll;
    }

    h1 {
        font-size: 2.3rem;
        padding-top: 10px;
        margin-right: 0px;
        margin-bottom: -10px;
    }

    header p {
        font-size: 1.1rem;
        padding-left: 20px;
    }

    .slidein {
        animation-duration: 3s;
        animation-name: slidein;
        animation-iteration-count: 1;
    }

    @keyframes slidein {
        from {
        margin-left: auto;
        width: auto; 
        
        }
    
        to {
        margin-left: auto;
        width: auto;
        }
    }
    #main-content {
        width: 90%;
        height: 30%;
        display: block;
    }

    #main-text {
        width: 100%;
    }

    .space {
        margin-top: 0px;
    }

    h2 {
        font-size: 1.6rem;
        margin: 30px 0px 0px 30px;
    }

    #main-text video, #main-text img {
        width: 100%;
        margin-left: 6%;
    }

    #aside {
        width: 100%;
        margin-left: 8%;
    }

    h3 {
        font-size: 1.3rem;
        padding-top: 20px;
        padding-bottom: 0px;
        padding-left: 14%;
    }

    footer {
        margin-top: 5%;
        margin-bottom: 0;
        height: 28%;
    }

    footer p {
        font-size: 1rem;
        padding-top: 30px;
        padding-bottom: 10px;
    }
}
@media(min-width:601px )and (max-width:732px) {
    nav {
        height: 145px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        padding-top: 15px;
    }

    li {
        font-size: 1.3rem;
        padding: 5px 10px;
        margin-top: -70px;
        margin-bottom: 65px;
    }

    #wrapper {
        width: auto;
        height:auto;
        margin: auto;
    }
    
    header {
        height: 60vh;
        background-attachment: scroll;
    }

    h1 {
        font-size: 2.8rem;
        padding-top: 10px;
        margin-right: 0px;
        margin-bottom: -10px;
        
    }

    header p {
        font-size: 1.3rem;
        padding-left: 20px;
    }

    @keyframes slidein {
        from {
        margin-left: auto;
        width: auto; 
        
        }
    
        to {
        margin-left: auto;
        width: auto;
        }
    }

    h2 {
        font-size: 1.9rem;
    }

    #main-content {
        width: 90%;
        height: 30%;
        display: block;
    }

    #main-text video, #main-text img {
        width: 90%;
        margin-left: 4%;
    }
    
    #aside {
        width: 90%;
        margin-left: 18%;
    }

    h3 {
        font-size: 1.9rem;
        padding-top: 20px;
        padding-bottom: 0px;
        padding-left: 14%;
    }
     /* * { outline: 1px red solid !important; visibility: visible !important }  */
}
@media(min-width:733px )and (max-width:1020px) { 
    li {
        font-size: 1.3rem;
    }

    header {
        height: 70vh;
    }

    h1 {
        font-size: 4.5rem;
    }

    header p {
        font-size: 2rem;
    }

    .slidein {
        animation-duration: 0s;
        animation-name: none;
        animation-iteration-count: 0;
    }

    @keyframes slidein {
        from {
        margin-left: 0;
        width: 0; 
        
        }
    
        to {
        margin-left: 0;
        width: 0;
        }
    }

    h2 {
        font-size: 2.5rem;
    }

    #wrapper {
        width: auto;
        height:auto;
        margin: auto;
    }
    
    #main-content {
        width: 90%;
        height: 30%;
        display: block;
    }

    #main-text video, #main-text img {
        margin-left: 10%;
    }
    
    #aside {
        width: 80%;
        margin-left: 30%;
    }
    /* * { outline: 1px red solid !important; visibility: visible !important } */
}